{
  "branch": "semantic-versioning",
  "verifyConditions": [],
  "tagFormat": "${version}",
  "prepare": [
    {
      "path": "@semantic-release/exec",
      "cmd": "bumpversion --new-version ${nextRelease.version} --verbose patch"
    }
  ],
  "publish": ["@semantic-release/github"]
}